@font-face {
    font-family: Asap;
    src: url("../fonts/Asap-Regular.ttf");
}

@font-face {
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata-LGC.otf");
}

html {
    height: 100%;
}

body {
    font-family: Asap, sans-serif;
    color: #09164e;
    height: 100%;
    margin: 0;
}

header, footer {
    height: 75px;
    background-color: #c3cbed;
    /* color: #123bed; */
    left: 0;
    right: 0;
    position: fixed;
    display: block;
}

footer {
    bottom: 0;
}

header {
    top: 0;
}

#mainpanel {
    width: 100%;
    height: 100%;
    padding: 75px 0 75px 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#serverpanel {
    left: 0;
    width: 250px;
    /* background-color: #6881ed; */
    background-color: #dadeed;
    position: fixed;
    top: 75px;
    bottom: 75px;
}

#entitypanel {
    background-color: #e4e6f0;
    margin: 20px;
    padding: 10px;
}

#entitypanel li {
    list-style: none;
    margin: 2px;
    cursor: grab;
}

#editorpanel {
    height: 100%;
    width: 100%;
}

#resultpanel {
    height: 50%;
    width: 100%;
    background-color: #e4e6f0;
}

#commandpanel {
    height: 50%;
    width: 100%;
    overflow: auto;
}

#editpad {
    min-height: 100%;
    width: 100%;
    font-family: Inconsolata, monospace;
}

.editpad-hover {
    background-color: #f4f5f9;
}

span.editpad-droppable-hover {
   color: #09164e;
   background-color: #09164e;
}

.editpad-droppable {
    color: #ffff00;
    background-color: #ffff00;
}

h1 {    
    margin-left: 21px;
}
